Package: com.samstone.plcat
Name: plcat
Depends: 
Version: 1.0.0
Architecture: iphoneos-arm
Description: A simple command-line tool for printing property lists.
Maintainer: Sam Stone
Author: Sam Stone
Section: System
Tag: role::hacker
