Package: com.samstone.plister
Name: PLister
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Sam Stone
Author: Sam Stone
Section: System
Tag: role::hacker
